@use '../../styles/constants.scss' as *;

.navigation {
  position: absolute;
  top: 5vh;
  right: 0;
  color: $color-white;
  z-index: 5;
  width: 50%;
  max-width: 750px;
  font-size: 2rem;
  font-family: $typeface-secondary;

  nav {
    @include flex($justify: space-evenly);
    
    width: 100%;
  }
}
